# IEEE IDU Student Community Python Dersleri

> Onur Ümit Şener <br>
> Electrical - Electronics Engineering

---

[Kaynak](https://www.w3schools.com/python/default.asp)

# Giriş

# Hafta 1

## Programlama nedir?

- Programlama nerede kullanılır?
- Hangi meslekler programlama yapar?
- Yazılımcı olabilmek için hangi bölümü okumalıyız?
- Yazılım Dilleri ile Konuşma Dillerinin Benzerliği
  - Python ve İngilizce

### Diğer [Popüler](https://pypl.github.io/PYPL.html) Yazılım Dilleri

- C/C++
- C#
- Java
- Ruby
- MATLAB
- Web
  - HTML
  - JavaScript
  - CSS
  - PHP
- Swift
- Go
- SQL
- Lua

## Neden Python?

> <img src="growth_graph.png" height=500><br>
>
> - 2023 itibarıyla 27.7% popülerlik
> - Kullanımı kolay
> - Sayısız kaynak

### Python nerelerde kullanılır?

- Veri Bilimi
- AI ve Macine Learning
- Sinyal (Görüntü, Ses İşleme)
- Web Geliştiriciliği
- Tasarım
- Simülasyon
- Prototipleme (Raspberry Pi)
- Genel Programlama

### Temel Kavramlar

- Bit, Byte
- Decimal (Ondalık)
- Binary (İkilik)
- Sytnax
- Library (Kütüphane)
- Error, warning (Hata, Uyarı)
- Bug, Glitch, Debug
- Algorithm (Algoritma)

## IDE (Integrated Development Environment)

- [PyCharm](https://www.jetbrains.com/pycharm/download)
- [Visual Studio Code](https://code.visualstudio.com/)
- [Google Colab](https://colab.research.google.com/)
- [Anaconda](https://www.anaconda.com/products/distribution)

## Aradığınız Neredeyse Her Bilgi [Google](https://www.google.com/)'da

> Sorun yaşadığınız yer + Platformunuz* + Soru kalıbı* + Sorununuz
>
> - python for loop example
> - python list how to append
> - py vscode auto format on save
> - py enumerate
> - python list select index range

## En İyi Dostunuz [stackoverflow](https://stackoverflow.com/)

# İlk Kodumuz

---

## Hello World!

In [36]:
print('Hello World!')

Hello World!

# Python Temel Kavramları

In [37]:
x = 'Hello World!'
print(x)

Hello World!

## Variables (Değişkenler)

In [38]:
x = 'Hello World'
x = 16
x = 10-3
x = 24.3
x = 22/7
x = True
x = None
x = print

In [39]:
x = 22/7
print(x)

3.142857142857143

In [40]:
func = print
func('IDU')

IDU

## Operators (İşlemler)

### Arithmetic Operators (Aritmetik İşlemler)

In [41]:
2 + 4
5 - 1
6 * 3
1 / 3
2**8
9 % 4
360 // 17

21

In [42]:
9 % 4

1

### Assignment Operators (Atama İşlemleri)

In [43]:
value = 3
value += 1
value -= 5
value *= 2
value /= 6

In [44]:
value = 3

In [45]:
value /= 12

In [46]:
print(value)

0.25

### Membership and Comparison Operators (Aidiyet ve Karşılaştırma İşlemleri)

In [47]:
var = 'num'
var in 'number'

12 == 12

not True == ~True
True and True == True & True
True or False == False | True
True ^ True

False

In [48]:
var = 'num'
var in 'number'

True

In [49]:
False ^ False

False

In [50]:
12 == 12.0

True

In [51]:
a = 12.0
b = int(a)
a is b

False

## Data Types (Veri Tipleri)

[Kaynak](https://www.w3schools.com/python/python_datatypes.asp)

|                     |            |             |              |
| ------------------- | ---------- | ----------- | ------------ |
| **Text Type:**      | _str_      |             |              |
| **Numeric Types:**  | _int_      | _float_     | _complex_    |
| **Sequence Types:** | _list_     | _tuple_     | _range_      |
| **Mapping Type:**   | _dict_     |             |              |
| **Boolean Type:**   | _bool_     |             |              |
| **None Type:**      | _NoneType_ |             |              |
| **Set Types:**      | _set_      | _frozenset_ |              |
| **Binary Types:**   | _bytes_    | _bytearray_ | _memoryview_ |
|                     |            |             |              |

### Integers

In [52]:
my_int_1 = 3
type(my_int_1), my_int_1

(int, 3)

In [53]:
my_int_2 = 6
my_int_2

6

In [54]:
my_int_1 + my_int_2

9

In [55]:
result1 = my_int_1 + my_int_2
result2 = my_int_1 - my_int_2
result3 = my_int_1 * my_int_2
result4 = my_int_1 / my_int_2
result5 = my_int_1 // my_int_2

In [56]:
print(
    result1,
    result2,
    result3,
    result4,
    result5
)

9 -3 18 0.5 0

### Floats

In [57]:
my_float_1 = 1/3
type(my_float_1), my_float_1

(float, 0.3333333333333333)

In [58]:
my_float_2 = 999.999
my_float_1 * my_float_2

333.33299999999997

### Boolean (Doğru - Yanlış ifadeleri)

In [59]:
True

True

In [60]:
False

False

In [61]:
a = 3 == 1 + 2
b = 6 > 8
c = 7 <= 7.1
print(a, b, c)

True False True

In [62]:
print(
    a and b,
    a or b,
    c and a
)

False True True

### Strings

In [63]:
my_string_1 = 'IEEE IDU'
my_string_1

'IEEE IDU'

In [64]:
my_string_2 = "IEEE IDU"
my_string_2

'IEEE IDU'

In [65]:
my_string_1 == my_string_2

True

In [66]:
my_string_1 is my_string_2

False

In [67]:
my_string_3 = '''IEEE IDU'''
my_string_4 = """IEEE IDU"""
my_string_1 == my_string_2 == my_string_3 == my_string_4

True

In [68]:
my_string_5 = 'ieee idu'
my_string_1 == my_string_5

False

In [69]:
my_string_6 = '21'
type(my_string_6), my_string_6

(str, '21')

In [70]:
my_int_from_string = int(my_string_6)
type(my_int_from_string), my_int_from_string

(int, 21)

#### String Formatting (String Düzenleme)

In [72]:
str_1 = 'IEEE'
str_2 = 'IDU'
int_1 = 2023

##### Concatenation (Arkasına Ekleme)

In [82]:
str_1 + ' ' + str_2

'IEEE IDU'

In [84]:
print('Okulumuzun ' + str_1 + ' ' + str_2 + ' kulübü olarak ' +
      str(int_1) + ' yılı bahar döneminde Python dersi veriyoruz')

Okulumuzun IEEE IDU kulübü olarak 2023 yılı bahar döneminde Python dersi veriyoruz

In [85]:
print('Okulumuzun', str_1, str_2, 'kulübü olarak', int_1,
      'yılı bahar döneminde Python dersi veriyoruz')

Okulumuzun IEEE IDU kulübü olarak 2023 yılı bahar döneminde Python dersi veriyoruz

##### .format() fonksiyonu

In [92]:
print('Okulumuzun {} {} kulübü olarak {} yılı bahar döneminde Python dersi veriyoruz'.format(str_1, str_2, int_1))
print('Okulumuzun {0} {1} kulübü olarak {2} yılı bahar döneminde Python dersi veriyoruz'.format(str_1, str_2, int_1))

Okulumuzun IEEE IDU kulübü olarak 2023 yılı bahar döneminde Python dersi veriyoruz
Okulumuzun IEEE IDU kulübü olarak 2023 yılı bahar döneminde Python dersi veriyoruz

##### f-string

In [94]:
print(f'Okulumuzun {str_1} {str_2} kulübü olarak {int_1} yılı bahar döneminde Python dersi veriyoruz')

Okulumuzun IEEE IDU kulübü olarak 2023 yılı bahar döneminde Python dersi veriyoruz

### Escape Characters

In [97]:
print("İzmir'in Karabağlar ilçesi")

İzmir'in Karabağlar ilçesi

In [96]:
print('İzmir\'in Karabağlar ilçesi')

İzmir'in Karabağlar ilçesi

In [99]:
print('İlk satırımı yazdıktan sonra yazıma \nalt satırda devam etmek istiyorum')

İlk satırımı yazdıktan sonra yazıma
alt satırda devam etmek istiyorum

In [100]:
print('Elma, \tArmut, \tPortakal \nKavun, \tKiraz, \tÇilek')

Elma, 	Armut, 	Portakal
Kavun, 	Kiraz, 	Çilek

In [111]:
import os
os.startfile('C:\Users\')

SyntaxError: unterminated string literal (detected at line 2) (1012206419.py, line 2)

In [112]:
os.startfile('C:\\Users\\')

In [105]:
print('Lorem ipsum dolor sit amet, consectetur adipiscing elit.\
 Integer vitae ante sit amet nulla fringilla luctus eget non felis.\
 Etiam eget elementum metus, quis maximus nulla. Suspendisse nec purus ipsum.\
 Donec purus odio, iaculis a eleifend et, hendrerit non diam.\
 Phasellus luctus tellus non feugiat facilisis.\
 Sed ut nibh eget magna scelerisque porta eu sit amet nulla.\
 Donec dictum nulla in dui sodales venenatis vel a elit.')

Lorem ipsum dolor sit amet, consectetur adipiscing elit.\ Integer vitae ante sit amet nulla fringilla luctus eget non felis. Etiam eget elementum metus, quis maximus nulla. Suspendisse nec purus ipsum. Donec purus odio, iaculis a eleifend et, hendrerit non diam. Phasellus luctus tellus non feugiat facilisis. Sed ut nibh eget magna scelerisque porta eu sit amet nulla. Donec dictum nulla in dui sodales venenatis vel a elit.

### Data Collections (Arrays) [Veri Toplulukları]

#### Sets

- Unordered, immutable (unchangeable), and unindexed. No duplicate members.
  - Sırasız, Değiştirilemez, Tekrara izin vermez

In [106]:
my_set_1 = {'a', 'b', 'c', 1, 2}
my_set_1

{1, 2, 'a', 'b', 'c'}

In [107]:
type(my_set_1)

set

In [108]:
my_set_2 = {'a', 'b', 'c', 1, 2, 'a'}
my_set_2

{1, 2, 'a', 'b', 'c'}

In [109]:
print(len(my_set_2))

5

In [110]:
my_set_2[1]

TypeError: 'set' object is not subscriptable

In [111]:
for item in my_set_2:
    print(item)

1
2
c
a
b

#### Tuples

- Ordered and immutable (unchangeable). Allows duplicate members.
  - Sıralı, Değiştirilemez, Tekrara izin verir.

In [117]:
my_tuple_1 = ('a', 'b', 'c')
my_tuple_1

('a', 'b', 'c')

In [114]:
type(my_tuple_1)

tuple

In [115]:
my_tuple_2 = ('a', 'b', 1, 2)
my_tuple_2

('a', 'b', 1, 2)

In [116]:
my_tuple_2[0]

'a'

In [118]:
item1, item2, item3 = my_tuple_1
print(item1, item2, item3, my_tuple_1)

a b c ('a', 'b', 'c')

In [119]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green, yellow, red)

apple banana ['cherry', 'strawberry', 'raspberry']

#### Lists

- Ordered and mutable (changeable). Allows duplicate members.
  - Sıralı, Değiştirilebilir, Tekrara izin verir.

In [120]:
my_list_1 = ['a', 'b', 1, 2, 3]
my_list_1

['a', 'b', 1, 2, 3]

In [122]:
my_list_1[3]

2

##### Slicing

In [124]:
list_selection_1 = my_list_1[1:3]
list_selection_1

['b', 1]

In [126]:
list_selection_2 = my_list_1[:]
list_selection_2

['a', 'b', 1, 2, 3]

In [129]:
list_selection_3 = my_list_1[:2]
list_selection_3

['a', 'b']

In [131]:
list_selection_4 = my_list_1[2:]
list_selection_4

[1, 2, 3]

In [132]:
list_selection_5 = my_list_1[::2]
list_selection_5

['a', 1, 3]

In [135]:
list_selection_6 = my_list_1[-1:1:-1]
list_selection_6

[3, 2, 1]

In [127]:
list_selection_1 = my_list_1[1:3]
list_selection_2 = my_list_1[:]
list_selection_3 = my_list_1[:2]
list_selection_4 = my_list_1[3:]
list_selection_5 = my_list_1[::2]
list_selection_6 = my_list_1[-1:2:-2]

In [128]:
print(
    list_selection_1,
    list_selection_2,
    list_selection_3,
    list_selection_4,
    list_selection_5,
    list_selection_6,
)

['b', 1] ['a', 'b', 1, 2, 3] ['a', 'b'] [2, 3] ['a', 1, 3] [3]

##### Appending

In [139]:
my_list_2 = [1, 2, 3]
my_list_3 = [4, 5, 6]

In [140]:
for i in my_list_3:
    my_list_2.append(i)

In [141]:
my_list_2

[1, 2, 3, 4, 5, 6]

#### Dictionaries

- Ordered (3.6 and after) and mutable (changeable). No duplicate members.
  - Sıralı\*, Değiştirilebilir, Tekrara izin vermez

In [161]:
my_dict_1 = {
    'key': 'value',
    'name': 'Onur Umit Sener',
    'age': 21,
    'education': {
        'school': 'IDU',
        'ongoing': True,
    },
    5: 'five',
    'liste': [1, 2, 3, 4]
}

In [152]:
my_dict_1['liste']

[1, 2, 3, 4]

In [153]:
for item in my_dict_1:
    print(item)

key
name
age
education
5
liste

In [154]:
for item in my_dict_1.values():
    print(item)

value
Onur Umit Sener
21
{'school': 'IDU', 'ongoing': True}
five
[1, 2, 3, 4]

In [155]:
for key, value in my_dict_1.items():
    print(f'Key: {key},\t Value: {value}')

Key: key,	 Value: value
Key: name,	 Value: Onur Umit Sener
Key: age,	 Value: 21
Key: education,	 Value: {'school': 'IDU', 'ongoing': True}
Key: 5,	 Value: five
Key: liste,	 Value: [1, 2, 3, 4]

In [156]:
my_dict_1['color'] = 'blue'

In [162]:
my_dict_1['color'] = 'red'
my_dict_1

{'key': 'value',
 'name': 'Onur Umit Sener',
 'age': 21,
 'education': {'school': 'IDU', 'ongoing': True},
 5: 'five',
 'liste': [1, 2, 3, 4],
 'color': 'red'}

In [163]:
del my_dict_1['key']
my_dict_1

{'name': 'Onur Umit Sener',
 'age': 21,
 'education': {'school': 'IDU', 'ongoing': True},
 5: 'five',
 'liste': [1, 2, 3, 4],
 'color': 'red'}

In [166]:
popped_value = my_dict_1.pop('color')

In [167]:
popped_value

'red'

In [168]:
my_dict_1

{'name': 'Onur Umit Sener',
 'age': 21,
 'education': {'school': 'IDU', 'ongoing': True},
 5: 'five',
 'liste': [1, 2, 3, 4]}